.top-header{
  position: relative;;
  top: 0;
  width: 100%;
  z-index: 99;
  @include main-gradient($GradientPurple, $GradientGreen)
  transition: all .45s ease-out;
  box-sizing: border-box;
}

.top-header__panel {
  position: relative;
  padding: 0 $contentMargin 0 $contentMargin;
  float: left;
  width: calc(100% - #{$leftMenuCollapsedWidth});
  height: $headerPanelHeight;
  background-color: $White;
  border-bottom: 1px solid #e1e6eb;
  transition: all .45s ease-out;
  box-shadow: 0 -4px 3px 0 rgba(0,0,0,.1);
  box-sizing: border-box;
}

.top-header__logo {
  position: relative;
  float: left;
  width: $headerPanelHeight;
  height: $headerPanelHeight;
  transition: all .45s ease-out;

  .logo {
    display: inline-block;
    position: absolute;
    bottom: 17px;
    left: 18px;
    width: 140px;
    height: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20166%2034%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22%23ffffff%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M49.758%209.055v3.275h-4.426V9.055h4.426zm0%204.74v11.778h-4.426v-11.78h4.426zM55.59%2015.606c.492-.767.984-1.254%201.616-1.603.633-.348%201.265-.488%202.038-.488.35%200%20.562.07.703.14v3.693h-.07c-1.336-.21-2.32-.07-3.022.488-.703.558-1.054%201.534-1.054%202.858v4.81h-4.426v-11.71h4.216v1.812zM64.022%2025.503c-.773-.348-1.475-.767-2.038-1.324-.562-.56-.983-1.186-1.335-1.953-.352-.766-.492-1.603-.492-2.51%200-.905.14-1.74.49-2.508.353-.768.774-1.395%201.336-2.022.563-.627%201.265-.976%202.038-1.324.773-.35%201.687-.488%202.67-.488.984%200%201.897.14%202.67.488.773.348%201.476.766%202.038%201.324.562.557.984%201.254%201.265%202.02.28.768.42%201.604.42%202.51%200%20.906-.14%201.743-.42%202.51-.28.766-.703%201.393-1.265%201.95-.562.558-1.265.977-2.038%201.325-.773.35-1.686.488-2.67.488-.983%200-1.897-.138-2.67-.487zm4.216-3.345c.35-.628.492-1.394.492-2.44%200-1.045-.14-1.812-.492-2.44-.35-.626-.843-.905-1.546-.905-.702%200-1.194.28-1.546.906-.35.626-.49%201.393-.49%202.438%200%201.046.14%201.812.49%202.44.352.627.844.906%201.546.906.703%200%201.195-.28%201.546-.906zM78.497%2015.467c.492-.628%201.054-1.115%201.616-1.464.562-.348%201.335-.488%202.178-.488%201.406%200%202.46.418%203.093%201.255.632.836%201.054%201.95%201.054%203.275v7.667H82.01v-6.55c0-.63-.14-1.117-.42-1.465-.283-.35-.704-.558-1.266-.558s-.984.208-1.335.627c-.353.418-.493.975-.493%201.603v6.342H74.21V13.794h4.217l.07%201.673zM91.988%2025.642c-.914-.21-1.757-.557-2.46-1.045-.702-.488-1.264-1.045-1.616-1.742-.35-.697-.632-1.534-.632-2.51h4.99c.07.697.35%201.185.842%201.464.492.278%201.124.487%201.967.487.21%200%20.49%200%20.702-.07.21-.07.492-.14.703-.21.21-.07.35-.278.492-.417.14-.14.21-.418.21-.627%200-.21-.07-.488-.21-.628-.14-.14-.352-.348-.633-.418-.28-.07-.562-.21-.983-.348-.42-.14-.843-.21-1.334-.35-.703-.14-1.406-.348-2.18-.627-.772-.28-1.404-.558-1.966-.906-.562-.35-1.054-.836-1.476-1.464-.42-.627-.562-1.324-.562-2.23%200-.976.21-1.742.562-2.44.352-.696.843-1.184%201.476-1.602.632-.418%201.335-.696%202.178-.905.843-.21%201.757-.28%202.67-.28.843%200%201.687.07%202.46.28.772.21%201.545.487%202.107.906.563.42%201.125.907%201.476%201.604.352.697.563%201.394.563%202.3h-4.848c-.07-.42-.28-.837-.633-1.046-.35-.21-.843-.418-1.475-.418-.562%200-.984.14-1.335.348-.352.21-.492.488-.492.837%200%20.28.07.418.28.627.212.21.423.28.774.418.35.14.773.21%201.265.35.49.138%201.053.208%201.685.347.703.14%201.405.35%202.038.628.632.278%201.265.557%201.827.975.562.418.983.906%201.264%201.464.282.558.492%201.324.492%202.23%200%20.906-.21%201.743-.562%202.37-.35.627-.913%201.254-1.546%201.742-.632.488-1.405.837-2.318%201.046-.914.21-1.827.348-2.81.348-1.055-.14-2.04-.21-2.952-.488zM106.533%2025.503c-.773-.348-1.476-.767-2.038-1.324-.562-.56-.984-1.186-1.335-1.953-.35-.766-.492-1.603-.492-2.51%200-.905.14-1.74.492-2.508.35-.768.773-1.395%201.335-2.022.562-.627%201.265-.976%202.038-1.324.773-.35%201.686-.488%202.67-.488s1.897.14%202.67.488c.773.348%201.476.766%202.038%201.324.563.557.984%201.254%201.265%202.02.28.768.422%201.604.422%202.51%200%20.906-.14%201.743-.422%202.51-.28.766-.702%201.393-1.264%201.95-.56.558-1.264.977-2.037%201.325-.773.35-1.686.488-2.67.488s-1.897-.138-2.67-.487zm4.145-3.345c.352-.628.492-1.394.492-2.44%200-1.045-.14-1.812-.492-2.44-.35-.626-.843-.905-1.545-.905-.703%200-1.195.28-1.546.906-.352.626-.492%201.393-.492%202.438%200%201.046.14%201.812.492%202.44.35.627.843.906%201.546.906.702%200%201.194-.28%201.545-.906zM124.66%2024.11c-.49.626-1.053%201.114-1.615%201.393-.562.28-1.335.488-2.108.488-.702%200-1.335-.138-1.897-.348-.562-.21-.984-.557-1.335-.906-.35-.348-.632-.906-.773-1.463-.14-.558-.28-1.185-.28-1.882v-7.596h4.426v6.55c0%201.256.562%201.883%201.616%201.883.562%200%201.054-.21%201.335-.557.28-.35.49-.906.49-1.534v-6.342h4.427v11.78h-4.215v-1.465h-.07zM134.71%2015.606c.49-.767.983-1.254%201.615-1.603.633-.348%201.265-.488%202.038-.488.35%200%20.562.07.703.14v3.693h-.07c-1.336-.21-2.32-.07-3.022.488-.703.558-1.054%201.534-1.054%202.858v4.81h-4.497v-11.71h4.216l.07%201.812zM143.14%2025.503c-.772-.348-1.474-.767-2.037-1.324-.562-.56-1.054-1.186-1.335-1.953-.28-.766-.492-1.603-.492-2.51%200-.905.14-1.74.492-2.508s.773-1.395%201.335-2.022c.563-.627%201.265-.976%202.038-1.324.774-.35%201.687-.488%202.67-.488.844%200%201.617.14%202.32.348.703.21%201.265.558%201.827.976.562.418.913.906%201.194%201.464.282.557.493%201.184.563%201.88h-4.215c-.14-.556-.352-.974-.563-1.253-.21-.278-.632-.417-1.124-.417-.7%200-1.193.28-1.545.836-.35.557-.492%201.323-.492%202.37%200%20.975.14%201.74.492%202.3.352.556.844.835%201.546.835.563%200%20.985-.14%201.196-.488.21-.348.42-.836.492-1.533h4.215c0%20.697-.14%201.394-.42%202.02-.282.628-.704%201.186-1.196%201.604-.49.418-1.124.837-1.897%201.115-.773.28-1.546.42-2.46.42-.913.138-1.826%200-2.6-.35zM156%2025.503c-.773-.28-1.476-.767-2.038-1.324-.562-.56-1.054-1.186-1.335-1.953-.28-.766-.492-1.603-.492-2.51%200-.905.14-1.74.492-2.508.35-.768.773-1.395%201.335-2.022.562-.627%201.194-.976%202.038-1.324.843-.35%201.616-.488%202.6-.488.983%200%201.756.14%202.46.418.7.28%201.334.697%201.896%201.185.703.696%201.265%201.462%201.616%202.508.35%201.045.492%202.09.492%203.276h-8.643c.142.697.353%201.254.774%201.603.422.348.914.557%201.546.557.773%200%201.335-.28%201.686-.906h4.287c-.14.558-.352%201.046-.773%201.534-.422.487-.914.906-1.476%201.324-.562.348-1.124.627-1.757.766-.632.14-1.335.21-2.037.21-.984.07-1.897-.07-2.67-.35zm1.124-8.573c-.35.35-.562.906-.703%201.534h4.077c-.07-.697-.28-1.185-.633-1.534-.35-.348-.773-.557-1.335-.557-.563%200-1.055.21-1.406.557zM0%200v34h37V0H0zm13.57%2016.224c0%202.046-.713%203.245-2.284%203.668%201.643.635%202.285%201.764%202.285%204.232v3.598l-6.356-.07v-4.656c0-.917-1.07-1.058-1.928-1.34V18.27c.857-.282%201.928-.565%201.928-1.27v-4.938h6.357v4.162zm0-5.22H7.144V6.207h6.428v4.797zm9.36%2017.212c-5.716%200-8.43-2.963-8.43-6.7v-1.13h6.357v.494c0%201.2.643%202.045%201.857%202.045%201.143%200%201.715-.493%201.715-1.41%200-2.47-9.716-2.046-9.716-9.03%200-3.738%202.43-6.983%208.43-6.983%205.427%200%208.07%202.963%208.07%206.7v1.27h-6.357v-.704c0-.988-.5-1.975-1.714-1.975-.93%200-1.5.493-1.5%201.34%200%202.68%209.786%202.045%209.786%208.958%200%203.74-2.573%207.126-8.5%207.126z%22/%3E%3C/g%3E%3C/svg%3E);
  }

}

.page-title {
  float: left;
  margin-top: 17px;
  margin-left: 10px;
  font-weight: 600;
  font-size: 22px;
}
.top-header__panel {
  .menu-icon {
    float: left;
    margin-top: 21px;
    margin-left: 10px;
  }
}
.menu-icon {
  display: inline-block;
  width: 18px;
  height: 15px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2040%2026%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22%23222532%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M1.51%203.343h36.98c.834%200%201.51-.666%201.51-1.486S39.324.37%2038.49.37H1.51C.675.37%200%201.038%200%201.858c0%20.82.676%201.486%201.51%201.486zM1.51%2014.486h36.98c.834%200%201.51-.666%201.51-1.486s-.676-1.486-1.51-1.486H1.51C.675%2011.514%200%2012.18%200%2013s.676%201.486%201.51%201.486zM1.51%2025.63h36.98c.834%200%201.51-.667%201.51-1.487%200-.82-.676-1.486-1.51-1.486H1.51c-.834%200-1.51.666-1.51%201.486s.676%201.486%201.51%201.486z%22/%3E%3C/g%3E%3C/svg%3E);
  transition: all .45s ease-out;
}

.menu-icon.icon-x{
  display: none;
}

.user-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2040%2040%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M20%202.48c1.042%200%202.09.2%203.145.6%201.054.4%201.992.903%202.812%201.51.82.606%201.49%201.27%202.012%201.994.52.723.78%201.42.78%202.09v6.197c0%201.19-.28%202.732-.84%204.63-.56%201.897-1.517%203.362-2.87%204.395-.34.258-.593.587-.763.988-.17.4-.228.82-.175%201.258.052.44.208.834.468%201.182.26.35.586.614.977.794l10.898%205.112c.026%200%20.202.084.528.252.325.168.488.588.488%201.26v2.4l-34.96.04v-2.52c0-.515.137-.87.41-1.064.274-.193.488-.316.645-.368l10.976-5.15c.392-.18.71-.446.958-.794.248-.35.41-.73.49-1.143.05-.438-.008-.857-.177-1.257-.168-.4-.422-.73-.76-.988-1.303-1.033-2.26-2.49-2.872-4.376-.612-1.886-.918-3.435-.918-4.65V8.676c0-.645.254-1.33.762-2.053.508-.722%201.178-1.394%202.01-2.013.835-.62%201.772-1.13%202.814-1.53%201.042-.4%202.096-.6%203.164-.6zM20%200c-1.38%200-2.747.258-4.102.775-1.354.516-2.558%201.187-3.613%202.013-1.055.827-1.907%201.756-2.558%202.79-.65%201.032-.977%202.064-.977%203.097v6.196c0%20.673.078%201.492.234%202.46.157.97.424%201.963.8%202.983.38%201.02.867%202.02%201.466%203%20.6.982%201.34%201.82%202.227%202.518L2.5%2030.983l-1.25.717C.417%2032.175%200%2032.75%200%2033.42v3.757c0%20.67.24%201.244.723%201.722.48.478%201.074.717%201.777.717h35c.677%200%201.257-.24%201.738-.718.482-.478.723-1.052.723-1.723V33.42c0-.723-.41-1.31-1.23-1.762l-1.23-.678-10.898-5.15c.86-.672%201.588-1.48%202.187-2.42.598-.943%201.08-1.925%201.444-2.944.365-1.02.625-2.02.782-3.002.156-.98.234-1.846.234-2.595V8.676c0-1.033-.332-2.065-.996-3.098-.664-1.033-1.524-1.962-2.578-2.79-1.055-.825-2.253-1.496-3.594-2.012C22.742.258%2021.38%200%2020%200z%22%20fill%3D%22%23828d9a%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E);
  background-repeat: no-repeat;

  &:hover, &.green {
    background-image: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2040%2040%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M20%202.48c1.042%200%202.09.2%203.145.6%201.054.4%201.992.903%202.812%201.51.82.606%201.49%201.27%202.012%201.994.52.723.78%201.42.78%202.09v6.197c0%201.19-.28%202.732-.84%204.63-.56%201.897-1.517%203.362-2.87%204.395-.34.258-.593.587-.763.988-.17.4-.228.82-.175%201.258.052.44.208.834.468%201.182.26.35.586.614.977.794l10.898%205.112c.026%200%20.202.084.528.252.325.168.488.588.488%201.26v2.4l-34.96.04v-2.52c0-.515.137-.87.41-1.064.274-.193.488-.316.645-.368l10.976-5.15c.392-.18.71-.446.958-.794.248-.35.41-.73.49-1.143.05-.438-.008-.857-.177-1.257-.168-.4-.422-.73-.76-.988-1.303-1.033-2.26-2.49-2.872-4.376-.612-1.886-.918-3.435-.918-4.65V8.676c0-.645.254-1.33.762-2.053.508-.722%201.178-1.394%202.01-2.013.835-.62%201.772-1.13%202.814-1.53%201.042-.4%202.096-.6%203.164-.6zM20%200c-1.38%200-2.747.258-4.102.775-1.354.516-2.558%201.187-3.613%202.013-1.055.827-1.907%201.756-2.558%202.79-.65%201.032-.977%202.064-.977%203.097v6.196c0%20.673.078%201.492.234%202.46.157.97.424%201.963.8%202.983.38%201.02.867%202.02%201.466%203%20.6.982%201.34%201.82%202.227%202.518L2.5%2030.983l-1.25.717C.417%2032.175%200%2032.75%200%2033.42v3.757c0%20.67.24%201.244.723%201.722.48.478%201.074.717%201.777.717h35c.677%200%201.257-.24%201.738-.718.482-.478.723-1.052.723-1.723V33.42c0-.723-.41-1.31-1.23-1.762l-1.23-.678-10.898-5.15c.86-.672%201.588-1.48%202.187-2.42.598-.943%201.08-1.925%201.444-2.944.365-1.02.625-2.02.782-3.002.156-.98.234-1.846.234-2.595V8.676c0-1.033-.332-2.065-.996-3.098-.664-1.033-1.524-1.962-2.578-2.79-1.055-.825-2.253-1.496-3.594-2.012C22.742.258%2021.38%200%2020%200z%22%20fill%3D%22%2318bdbe%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E);
  }

}

.help-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2040%2040%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M20%200c-2.76%200-5.358.52-7.793%201.563C9.772%202.603%207.65%204.03%205.84%205.84c-1.81%201.81-3.236%203.932-4.277%206.367C.52%2014.642%200%2017.24%200%2020s.52%205.358%201.563%207.793c1.04%202.435%202.467%204.557%204.277%206.367%201.81%201.81%203.932%203.236%206.367%204.278C14.642%2039.477%2017.24%2040%2020%2040s5.358-.52%207.793-1.563c2.435-1.04%204.557-2.467%206.367-4.277%201.81-1.81%203.236-3.932%204.278-6.367C39.477%2025.358%2040%2022.76%2040%2020s-.52-5.358-1.563-7.793C37.398%209.772%2035.97%207.65%2034.16%205.84c-1.81-1.81-3.932-3.236-6.367-4.277C25.358.52%2022.76%200%2020%200zm0%2037.54c-2.422%200-4.694-.463-6.816-1.388-2.123-.924-3.972-2.18-5.547-3.77-1.576-1.588-2.826-3.443-3.75-5.566C2.962%2024.694%202.5%2022.422%202.5%2020c0-2.422.462-4.694%201.387-6.816.924-2.123%202.174-3.972%203.75-5.547%201.575-1.576%203.424-2.826%205.547-3.75C15.306%202.962%2017.578%202.5%2020%202.5c2.422%200%204.694.462%206.816%201.387%202.123.924%203.972%202.174%205.547%203.75%201.576%201.575%202.826%203.424%203.75%205.547.925%202.122%201.387%204.394%201.387%206.816%200%202.422-.462%204.694-1.387%206.816-.924%202.123-2.174%203.978-3.75%205.567-1.575%201.588-3.424%202.845-5.547%203.77-2.122.924-4.394%201.386-6.816%201.386zm-1.836-6.29h3.125v-3.164h-3.126v3.164zm1.797-22.5c-.91%200-1.744.117-2.5.352-.754.234-1.43.6-2.03%201.093-.6.495-1.042%201.185-1.328%202.07-.287.886-.417%201.732-.39%202.54l.038.117h2.89c0-.495.08-1.042.235-1.64.156-.6.404-1.016.742-1.25.313-.26.664-.456%201.055-.587.39-.13.82-.195%201.29-.195.546%200%201.02.078%201.425.234.403.157.748.378%201.035.664.286.287.5.638.644%201.055.144.417.215.886.215%201.406%200%20.468-.05.89-.155%201.27-.104.377-.26.735-.47%201.073-.207.313-.494.697-.858%201.152-.365.456-.794.984-1.29%201.582-.52.47-.943.892-1.27%201.27-.324.378-.54.71-.643.996-.13.287-.228.684-.293%201.192-.064.507-.097%201.126-.097%201.855h3.008c0-.443.014-.84.04-1.19.026-.353.065-.633.117-.84.052-.21.163-.437.332-.685.168-.247.396-.514.683-.8.573-.574%201.1-1.14%201.582-1.7s.905-1.1%201.27-1.62c.338-.548.598-1.12.78-1.72.183-.6.274-1.237.274-1.914%200-.91-.138-1.724-.41-2.44-.275-.716-.685-1.322-1.232-1.817-.572-.52-1.243-.905-2.01-1.152-.77-.246-1.66-.37-2.677-.37z%22%20fill%3D%22%23828d9a%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E);
  background-repeat: no-repeat;

  &:hover, &.green {
    background-image: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2040%2040%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M20%200c-2.76%200-5.358.52-7.793%201.563C9.772%202.603%207.65%204.03%205.84%205.84c-1.81%201.81-3.236%203.932-4.277%206.367C.52%2014.642%200%2017.24%200%2020s.52%205.358%201.563%207.793c1.04%202.435%202.467%204.557%204.277%206.367%201.81%201.81%203.932%203.236%206.367%204.278C14.642%2039.477%2017.24%2040%2020%2040s5.358-.52%207.793-1.563c2.435-1.04%204.557-2.467%206.367-4.277%201.81-1.81%203.236-3.932%204.278-6.367C39.477%2025.358%2040%2022.76%2040%2020s-.52-5.358-1.563-7.793C37.398%209.772%2035.97%207.65%2034.16%205.84c-1.81-1.81-3.932-3.236-6.367-4.277C25.358.52%2022.76%200%2020%200zm0%2037.54c-2.422%200-4.694-.463-6.816-1.388-2.123-.924-3.972-2.18-5.547-3.77-1.576-1.588-2.826-3.443-3.75-5.566C2.962%2024.694%202.5%2022.422%202.5%2020c0-2.422.462-4.694%201.387-6.816.924-2.123%202.174-3.972%203.75-5.547%201.575-1.576%203.424-2.826%205.547-3.75C15.306%202.962%2017.578%202.5%2020%202.5c2.422%200%204.694.462%206.816%201.387%202.123.924%203.972%202.174%205.547%203.75%201.576%201.575%202.826%203.424%203.75%205.547.925%202.122%201.387%204.394%201.387%206.816%200%202.422-.462%204.694-1.387%206.816-.924%202.123-2.174%203.978-3.75%205.567-1.575%201.588-3.424%202.845-5.547%203.77-2.122.924-4.394%201.386-6.816%201.386zm-1.836-6.29h3.125v-3.164h-3.126v3.164zm1.797-22.5c-.91%200-1.744.117-2.5.352-.754.234-1.43.6-2.03%201.093-.6.495-1.042%201.185-1.328%202.07-.287.886-.417%201.732-.39%202.54l.038.117h2.89c0-.495.08-1.042.235-1.64.156-.6.404-1.016.742-1.25.313-.26.664-.456%201.055-.587.39-.13.82-.195%201.29-.195.546%200%201.02.078%201.425.234.403.157.748.378%201.035.664.286.287.5.638.644%201.055.144.417.215.886.215%201.406%200%20.468-.05.89-.155%201.27-.104.377-.26.735-.47%201.073-.207.313-.494.697-.858%201.152-.365.456-.794.984-1.29%201.582-.52.47-.943.892-1.27%201.27-.324.378-.54.71-.643.996-.13.287-.228.684-.293%201.192-.064.507-.097%201.126-.097%201.855h3.008c0-.443.014-.84.04-1.19.026-.353.065-.633.117-.84.052-.21.163-.437.332-.685.168-.247.396-.514.683-.8.573-.574%201.1-1.14%201.582-1.7s.905-1.1%201.27-1.62c.338-.548.598-1.12.78-1.72.183-.6.274-1.237.274-1.914%200-.91-.138-1.724-.41-2.44-.275-.716-.685-1.322-1.232-1.817-.572-.52-1.243-.905-2.01-1.152-.77-.246-1.66-.37-2.677-.37z%22%20fill%3D%22%2318bdbe%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E);
  }
}

.user-menu {
  float: right;
  margin-top: 19px;

  > li {
    position: relative;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    border-right: 1px solid rgba(77,80,95,.1);
    border-left: 1px solid rgba(77,80,95,.1);
    cursor: pointer;

    &:last-child {
      border: 0;
    }
  }
  .min-dropdown-btn {
    .user-icon, .help-icon {
      margin: 0 15px;
    }
  }

}

.additional-actions {
  float: right;
  margin-top: 20px;
  font-weight: 500;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;;
  li {
    padding: 2px 15px 2px 8px;
    a, span {
      color: $Purple;
    }
    span.action {
      cursor: pointer;
    }
  }
}

.collapsed {
  .menu-icon {
    transform: rotate(90deg);
    transition: all .45s ease-out;
  }
}

@media (max-width: $mobileMaxScreen) {
  .top-header__panel, .top-header__logo {
    float: none;
    height: $mobileHeaderHeight;
    width: 100%;
  }
  .top-header__logo {
    background-position: 16px 8px !important;
  }
  .user-menu, .additional-actions {
    display: none;
  }

  .top-header__panel {
    padding: 0 15px 0 15px;
  }

  .page-title {
    margin-left: 0;
    margin-top: 13px;
    font-size: 18px;
  }

  .menu-icon {
    position: fixed;
    right: 20px;
    top: 0px;
    margin-top: 15px;
  }
  .menu-icon.white {
    background-image: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2040%2026%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22%23ffffff%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M1.51%203.343h36.98c.834%200%201.51-.666%201.51-1.486S39.324.37%2038.49.37H1.51C.675.37%200%201.038%200%201.858c0%20.82.676%201.486%201.51%201.486zM1.51%2014.486h36.98c.834%200%201.51-.666%201.51-1.486s-.676-1.486-1.51-1.486H1.51C.675%2011.514%200%2012.18%200%2013s.676%201.486%201.51%201.486zM1.51%2025.63h36.98c.834%200%201.51-.667%201.51-1.487%200-.82-.676-1.486-1.51-1.486H1.51c-.834%200-1.51.666-1.51%201.486s.676%201.486%201.51%201.486z%22/%3E%3C/g%3E%3C/svg%3E);
  }
}

@media (max-width: $mobileMaxScreen) {
  .top-header__panel .menu-icon {
    margin-top: 18px;
  }
  .top-header__logo {

    .logo {
      position: relative;
      top: 10px;
      left: 10px;
      background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20166%2034%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22%23ffffff%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M49.758%209.055v3.275h-4.426V9.055h4.426zm0%204.74v11.778h-4.426v-11.78h4.426zM55.59%2015.606c.492-.767.984-1.254%201.616-1.603.633-.348%201.265-.488%202.038-.488.35%200%20.562.07.703.14v3.693h-.07c-1.336-.21-2.32-.07-3.022.488-.703.558-1.054%201.534-1.054%202.858v4.81h-4.426v-11.71h4.216v1.812zM64.022%2025.503c-.773-.348-1.475-.767-2.038-1.324-.562-.56-.983-1.186-1.335-1.953-.352-.766-.492-1.603-.492-2.51%200-.905.14-1.74.49-2.508.353-.768.774-1.395%201.336-2.022.563-.627%201.265-.976%202.038-1.324.773-.35%201.687-.488%202.67-.488.984%200%201.897.14%202.67.488.773.348%201.476.766%202.038%201.324.562.557.984%201.254%201.265%202.02.28.768.42%201.604.42%202.51%200%20.906-.14%201.743-.42%202.51-.28.766-.703%201.393-1.265%201.95-.562.558-1.265.977-2.038%201.325-.773.35-1.686.488-2.67.488-.983%200-1.897-.138-2.67-.487zm4.216-3.345c.35-.628.492-1.394.492-2.44%200-1.045-.14-1.812-.492-2.44-.35-.626-.843-.905-1.546-.905-.702%200-1.194.28-1.546.906-.35.626-.49%201.393-.49%202.438%200%201.046.14%201.812.49%202.44.352.627.844.906%201.546.906.703%200%201.195-.28%201.546-.906zM78.497%2015.467c.492-.628%201.054-1.115%201.616-1.464.562-.348%201.335-.488%202.178-.488%201.406%200%202.46.418%203.093%201.255.632.836%201.054%201.95%201.054%203.275v7.667H82.01v-6.55c0-.63-.14-1.117-.42-1.465-.283-.35-.704-.558-1.266-.558s-.984.208-1.335.627c-.353.418-.493.975-.493%201.603v6.342H74.21V13.794h4.217l.07%201.673zM91.988%2025.642c-.914-.21-1.757-.557-2.46-1.045-.702-.488-1.264-1.045-1.616-1.742-.35-.697-.632-1.534-.632-2.51h4.99c.07.697.35%201.185.842%201.464.492.278%201.124.487%201.967.487.21%200%20.49%200%20.702-.07.21-.07.492-.14.703-.21.21-.07.35-.278.492-.417.14-.14.21-.418.21-.627%200-.21-.07-.488-.21-.628-.14-.14-.352-.348-.633-.418-.28-.07-.562-.21-.983-.348-.42-.14-.843-.21-1.334-.35-.703-.14-1.406-.348-2.18-.627-.772-.28-1.404-.558-1.966-.906-.562-.35-1.054-.836-1.476-1.464-.42-.627-.562-1.324-.562-2.23%200-.976.21-1.742.562-2.44.352-.696.843-1.184%201.476-1.602.632-.418%201.335-.696%202.178-.905.843-.21%201.757-.28%202.67-.28.843%200%201.687.07%202.46.28.772.21%201.545.487%202.107.906.563.42%201.125.907%201.476%201.604.352.697.563%201.394.563%202.3h-4.848c-.07-.42-.28-.837-.633-1.046-.35-.21-.843-.418-1.475-.418-.562%200-.984.14-1.335.348-.352.21-.492.488-.492.837%200%20.28.07.418.28.627.212.21.423.28.774.418.35.14.773.21%201.265.35.49.138%201.053.208%201.685.347.703.14%201.405.35%202.038.628.632.278%201.265.557%201.827.975.562.418.983.906%201.264%201.464.282.558.492%201.324.492%202.23%200%20.906-.21%201.743-.562%202.37-.35.627-.913%201.254-1.546%201.742-.632.488-1.405.837-2.318%201.046-.914.21-1.827.348-2.81.348-1.055-.14-2.04-.21-2.952-.488zM106.533%2025.503c-.773-.348-1.476-.767-2.038-1.324-.562-.56-.984-1.186-1.335-1.953-.35-.766-.492-1.603-.492-2.51%200-.905.14-1.74.492-2.508.35-.768.773-1.395%201.335-2.022.562-.627%201.265-.976%202.038-1.324.773-.35%201.686-.488%202.67-.488s1.897.14%202.67.488c.773.348%201.476.766%202.038%201.324.563.557.984%201.254%201.265%202.02.28.768.422%201.604.422%202.51%200%20.906-.14%201.743-.422%202.51-.28.766-.702%201.393-1.264%201.95-.56.558-1.264.977-2.037%201.325-.773.35-1.686.488-2.67.488s-1.897-.138-2.67-.487zm4.145-3.345c.352-.628.492-1.394.492-2.44%200-1.045-.14-1.812-.492-2.44-.35-.626-.843-.905-1.545-.905-.703%200-1.195.28-1.546.906-.352.626-.492%201.393-.492%202.438%200%201.046.14%201.812.492%202.44.35.627.843.906%201.546.906.702%200%201.194-.28%201.545-.906zM124.66%2024.11c-.49.626-1.053%201.114-1.615%201.393-.562.28-1.335.488-2.108.488-.702%200-1.335-.138-1.897-.348-.562-.21-.984-.557-1.335-.906-.35-.348-.632-.906-.773-1.463-.14-.558-.28-1.185-.28-1.882v-7.596h4.426v6.55c0%201.256.562%201.883%201.616%201.883.562%200%201.054-.21%201.335-.557.28-.35.49-.906.49-1.534v-6.342h4.427v11.78h-4.215v-1.465h-.07zM134.71%2015.606c.49-.767.983-1.254%201.615-1.603.633-.348%201.265-.488%202.038-.488.35%200%20.562.07.703.14v3.693h-.07c-1.336-.21-2.32-.07-3.022.488-.703.558-1.054%201.534-1.054%202.858v4.81h-4.497v-11.71h4.216l.07%201.812zM143.14%2025.503c-.772-.348-1.474-.767-2.037-1.324-.562-.56-1.054-1.186-1.335-1.953-.28-.766-.492-1.603-.492-2.51%200-.905.14-1.74.492-2.508s.773-1.395%201.335-2.022c.563-.627%201.265-.976%202.038-1.324.774-.35%201.687-.488%202.67-.488.844%200%201.617.14%202.32.348.703.21%201.265.558%201.827.976.562.418.913.906%201.194%201.464.282.557.493%201.184.563%201.88h-4.215c-.14-.556-.352-.974-.563-1.253-.21-.278-.632-.417-1.124-.417-.7%200-1.193.28-1.545.836-.35.557-.492%201.323-.492%202.37%200%20.975.14%201.74.492%202.3.352.556.844.835%201.546.835.563%200%20.985-.14%201.196-.488.21-.348.42-.836.492-1.533h4.215c0%20.697-.14%201.394-.42%202.02-.282.628-.704%201.186-1.196%201.604-.49.418-1.124.837-1.897%201.115-.773.28-1.546.42-2.46.42-.913.138-1.826%200-2.6-.35zM156%2025.503c-.773-.28-1.476-.767-2.038-1.324-.562-.56-1.054-1.186-1.335-1.953-.28-.766-.492-1.603-.492-2.51%200-.905.14-1.74.492-2.508.35-.768.773-1.395%201.335-2.022.562-.627%201.194-.976%202.038-1.324.843-.35%201.616-.488%202.6-.488.983%200%201.756.14%202.46.418.7.28%201.334.697%201.896%201.185.703.696%201.265%201.462%201.616%202.508.35%201.045.492%202.09.492%203.276h-8.643c.142.697.353%201.254.774%201.603.422.348.914.557%201.546.557.773%200%201.335-.28%201.686-.906h4.287c-.14.558-.352%201.046-.773%201.534-.422.487-.914.906-1.476%201.324-.562.348-1.124.627-1.757.766-.632.14-1.335.21-2.037.21-.984.07-1.897-.07-2.67-.35zm1.124-8.573c-.35.35-.562.906-.703%201.534h4.077c-.07-.697-.28-1.185-.633-1.534-.35-.348-.773-.557-1.335-.557-.563%200-1.055.21-1.406.557zM0%200v34h37V0H0zm13.57%2016.224c0%202.046-.713%203.245-2.284%203.668%201.643.635%202.285%201.764%202.285%204.232v3.598l-6.356-.07v-4.656c0-.917-1.07-1.058-1.928-1.34V18.27c.857-.282%201.928-.565%201.928-1.27v-4.938h6.357v4.162zm0-5.22H7.144V6.207h6.428v4.797zm9.36%2017.212c-5.716%200-8.43-2.963-8.43-6.7v-1.13h6.357v.494c0%201.2.643%202.045%201.857%202.045%201.143%200%201.715-.493%201.715-1.41%200-2.47-9.716-2.046-9.716-9.03%200-3.738%202.43-6.983%208.43-6.983%205.427%200%208.07%202.963%208.07%206.7v1.27h-6.357v-.704c0-.988-.5-1.975-1.714-1.975-.93%200-1.5.493-1.5%201.34%200%202.68%209.786%202.045%209.786%208.958%200%203.74-2.573%207.126-8.5%207.126z%22/%3E%3C/g%3E%3C/svg%3E") !important;
      pointer-events: none;
    }
  }
  .menu-icon {
    display: none;
  }
  .menu-icon.icon-x {
    background-image: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2038%2038%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M38%203.826L22.825%2019%2038%2034.174%2034.175%2038%2019%2022.826%203.825%2038%200%2034.174%2015.175%2019%200%203.826%203.825%200%2019%2015.174%2034.175%200%22%20fill%3D%22%23ffffff%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E);
  }
  .menu-icon.icon-x {
    display: inline-block;
  }
  .collapsed {
    .menu-icon.white {
      background-image: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2040%2026%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22%23ffffff%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M1.51%203.343h36.98c.834%200%201.51-.666%201.51-1.486S39.324.37%2038.49.37H1.51C.675.37%200%201.038%200%201.858c0%20.82.676%201.486%201.51%201.486zM1.51%2014.486h36.98c.834%200%201.51-.666%201.51-1.486s-.676-1.486-1.51-1.486H1.51C.675%2011.514%200%2012.18%200%2013s.676%201.486%201.51%201.486zM1.51%2025.63h36.98c.834%200%201.51-.667%201.51-1.487%200-.82-.676-1.486-1.51-1.486H1.51c-.834%200-1.51.666-1.51%201.486s.676%201.486%201.51%201.486z%22/%3E%3C/g%3E%3C/svg%3E);
    }
  }
}

@media (min-width: $tabletMinScreen) {
  .top-header {
    height: $headerPanelHeight;
  }
  .collapsed {
    .top-header__logo {
      .logo {
        width: 32px;
        height: 30px;
        background-image: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2037%2034%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%200v34h37V0H0zm13.57%2016.224c0%202.046-.713%203.245-2.284%203.668%201.643.635%202.285%201.764%202.285%204.232v3.598l-6.356-.07v-4.656c0-.917-1.07-1.058-1.928-1.34V18.27c.857-.282%201.928-.565%201.928-1.27v-4.938h6.357v4.162zm0-5.22H7.144V6.207h6.428v4.797zm9.36%2017.212c-5.716%200-8.43-2.963-8.43-6.7v-1.13h6.357v.494c0%201.2.643%202.045%201.857%202.045%201.143%200%201.715-.493%201.715-1.41%200-2.47-9.716-2.046-9.716-9.03%200-3.738%202.43-6.983%208.43-6.983%205.427%200%208.07%202.963%208.07%206.7v1.27h-6.357v-.704c0-.988-.5-1.975-1.714-1.975-.93%200-1.5.493-1.5%201.34%200%202.68%209.786%202.045%209.786%208.958%200%203.74-2.573%207.126-8.5%207.126z%22%20fill%3D%22%23ffffff%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E);
      }
    }
  }
}

@media (min-width: $tabletMinScreen) and (max-width: $tabletMaxScreen) {
  .top-header__logo {
    width: $leftMenuWidth;
    transition: none;
  }
  .top-header__panel {
    width: calc(100% - #{$leftMenuWidth});
    transition: none;
  }
  .collapsed {
    .top-header__panel {
      width: calc(100% - #{$headerPanelHeight});
    }
    .top-header__logo {
      width: $headerPanelHeight;
    }
  }
}

@media (min-width: $smallLaptopMinScreen) {
  .top-header{
    padding-top: $headerPaddingSm;
    height: $headerPanelHeight + $headerPaddingSm;
  }

  .top-header__logo {
    width: $leftMenuWidth;
  }

  .top-header__panel {
    width: calc(100% - #{$leftMenuWidth});
  }

  .collapsed {
    .top-header__logo {
      width: $leftMenuCollapsedWidth;
    }
    .top-header__panel {
      width: calc(100% - #{$leftMenuCollapsedWidth});
    }
    &.menu-opened {
      .top-header__logo {
        width: $leftMenuWidth;
        .logo {
          display: inline-block;
          position: absolute;
          bottom: 17px;
          left: 18px;
          width: 140px;
          height: 30px;
          cursor: pointer;
          background-repeat: no-repeat;
          background-image: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20166%2034%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22%23ffffff%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M49.758%209.055v3.275h-4.426V9.055h4.426zm0%204.74v11.778h-4.426v-11.78h4.426zM55.59%2015.606c.492-.767.984-1.254%201.616-1.603.633-.348%201.265-.488%202.038-.488.35%200%20.562.07.703.14v3.693h-.07c-1.336-.21-2.32-.07-3.022.488-.703.558-1.054%201.534-1.054%202.858v4.81h-4.426v-11.71h4.216v1.812zM64.022%2025.503c-.773-.348-1.475-.767-2.038-1.324-.562-.56-.983-1.186-1.335-1.953-.352-.766-.492-1.603-.492-2.51%200-.905.14-1.74.49-2.508.353-.768.774-1.395%201.336-2.022.563-.627%201.265-.976%202.038-1.324.773-.35%201.687-.488%202.67-.488.984%200%201.897.14%202.67.488.773.348%201.476.766%202.038%201.324.562.557.984%201.254%201.265%202.02.28.768.42%201.604.42%202.51%200%20.906-.14%201.743-.42%202.51-.28.766-.703%201.393-1.265%201.95-.562.558-1.265.977-2.038%201.325-.773.35-1.686.488-2.67.488-.983%200-1.897-.138-2.67-.487zm4.216-3.345c.35-.628.492-1.394.492-2.44%200-1.045-.14-1.812-.492-2.44-.35-.626-.843-.905-1.546-.905-.702%200-1.194.28-1.546.906-.35.626-.49%201.393-.49%202.438%200%201.046.14%201.812.49%202.44.352.627.844.906%201.546.906.703%200%201.195-.28%201.546-.906zM78.497%2015.467c.492-.628%201.054-1.115%201.616-1.464.562-.348%201.335-.488%202.178-.488%201.406%200%202.46.418%203.093%201.255.632.836%201.054%201.95%201.054%203.275v7.667H82.01v-6.55c0-.63-.14-1.117-.42-1.465-.283-.35-.704-.558-1.266-.558s-.984.208-1.335.627c-.353.418-.493.975-.493%201.603v6.342H74.21V13.794h4.217l.07%201.673zM91.988%2025.642c-.914-.21-1.757-.557-2.46-1.045-.702-.488-1.264-1.045-1.616-1.742-.35-.697-.632-1.534-.632-2.51h4.99c.07.697.35%201.185.842%201.464.492.278%201.124.487%201.967.487.21%200%20.49%200%20.702-.07.21-.07.492-.14.703-.21.21-.07.35-.278.492-.417.14-.14.21-.418.21-.627%200-.21-.07-.488-.21-.628-.14-.14-.352-.348-.633-.418-.28-.07-.562-.21-.983-.348-.42-.14-.843-.21-1.334-.35-.703-.14-1.406-.348-2.18-.627-.772-.28-1.404-.558-1.966-.906-.562-.35-1.054-.836-1.476-1.464-.42-.627-.562-1.324-.562-2.23%200-.976.21-1.742.562-2.44.352-.696.843-1.184%201.476-1.602.632-.418%201.335-.696%202.178-.905.843-.21%201.757-.28%202.67-.28.843%200%201.687.07%202.46.28.772.21%201.545.487%202.107.906.563.42%201.125.907%201.476%201.604.352.697.563%201.394.563%202.3h-4.848c-.07-.42-.28-.837-.633-1.046-.35-.21-.843-.418-1.475-.418-.562%200-.984.14-1.335.348-.352.21-.492.488-.492.837%200%20.28.07.418.28.627.212.21.423.28.774.418.35.14.773.21%201.265.35.49.138%201.053.208%201.685.347.703.14%201.405.35%202.038.628.632.278%201.265.557%201.827.975.562.418.983.906%201.264%201.464.282.558.492%201.324.492%202.23%200%20.906-.21%201.743-.562%202.37-.35.627-.913%201.254-1.546%201.742-.632.488-1.405.837-2.318%201.046-.914.21-1.827.348-2.81.348-1.055-.14-2.04-.21-2.952-.488zM106.533%2025.503c-.773-.348-1.476-.767-2.038-1.324-.562-.56-.984-1.186-1.335-1.953-.35-.766-.492-1.603-.492-2.51%200-.905.14-1.74.492-2.508.35-.768.773-1.395%201.335-2.022.562-.627%201.265-.976%202.038-1.324.773-.35%201.686-.488%202.67-.488s1.897.14%202.67.488c.773.348%201.476.766%202.038%201.324.563.557.984%201.254%201.265%202.02.28.768.422%201.604.422%202.51%200%20.906-.14%201.743-.422%202.51-.28.766-.702%201.393-1.264%201.95-.56.558-1.264.977-2.037%201.325-.773.35-1.686.488-2.67.488s-1.897-.138-2.67-.487zm4.145-3.345c.352-.628.492-1.394.492-2.44%200-1.045-.14-1.812-.492-2.44-.35-.626-.843-.905-1.545-.905-.703%200-1.195.28-1.546.906-.352.626-.492%201.393-.492%202.438%200%201.046.14%201.812.492%202.44.35.627.843.906%201.546.906.702%200%201.194-.28%201.545-.906zM124.66%2024.11c-.49.626-1.053%201.114-1.615%201.393-.562.28-1.335.488-2.108.488-.702%200-1.335-.138-1.897-.348-.562-.21-.984-.557-1.335-.906-.35-.348-.632-.906-.773-1.463-.14-.558-.28-1.185-.28-1.882v-7.596h4.426v6.55c0%201.256.562%201.883%201.616%201.883.562%200%201.054-.21%201.335-.557.28-.35.49-.906.49-1.534v-6.342h4.427v11.78h-4.215v-1.465h-.07zM134.71%2015.606c.49-.767.983-1.254%201.615-1.603.633-.348%201.265-.488%202.038-.488.35%200%20.562.07.703.14v3.693h-.07c-1.336-.21-2.32-.07-3.022.488-.703.558-1.054%201.534-1.054%202.858v4.81h-4.497v-11.71h4.216l.07%201.812zM143.14%2025.503c-.772-.348-1.474-.767-2.037-1.324-.562-.56-1.054-1.186-1.335-1.953-.28-.766-.492-1.603-.492-2.51%200-.905.14-1.74.492-2.508s.773-1.395%201.335-2.022c.563-.627%201.265-.976%202.038-1.324.774-.35%201.687-.488%202.67-.488.844%200%201.617.14%202.32.348.703.21%201.265.558%201.827.976.562.418.913.906%201.194%201.464.282.557.493%201.184.563%201.88h-4.215c-.14-.556-.352-.974-.563-1.253-.21-.278-.632-.417-1.124-.417-.7%200-1.193.28-1.545.836-.35.557-.492%201.323-.492%202.37%200%20.975.14%201.74.492%202.3.352.556.844.835%201.546.835.563%200%20.985-.14%201.196-.488.21-.348.42-.836.492-1.533h4.215c0%20.697-.14%201.394-.42%202.02-.282.628-.704%201.186-1.196%201.604-.49.418-1.124.837-1.897%201.115-.773.28-1.546.42-2.46.42-.913.138-1.826%200-2.6-.35zM156%2025.503c-.773-.28-1.476-.767-2.038-1.324-.562-.56-1.054-1.186-1.335-1.953-.28-.766-.492-1.603-.492-2.51%200-.905.14-1.74.492-2.508.35-.768.773-1.395%201.335-2.022.562-.627%201.194-.976%202.038-1.324.843-.35%201.616-.488%202.6-.488.983%200%201.756.14%202.46.418.7.28%201.334.697%201.896%201.185.703.696%201.265%201.462%201.616%202.508.35%201.045.492%202.09.492%203.276h-8.643c.142.697.353%201.254.774%201.603.422.348.914.557%201.546.557.773%200%201.335-.28%201.686-.906h4.287c-.14.558-.352%201.046-.773%201.534-.422.487-.914.906-1.476%201.324-.562.348-1.124.627-1.757.766-.632.14-1.335.21-2.037.21-.984.07-1.897-.07-2.67-.35zm1.124-8.573c-.35.35-.562.906-.703%201.534h4.077c-.07-.697-.28-1.185-.633-1.534-.35-.348-.773-.557-1.335-.557-.563%200-1.055.21-1.406.557zM0%200v34h37V0H0zm13.57%2016.224c0%202.046-.713%203.245-2.284%203.668%201.643.635%202.285%201.764%202.285%204.232v3.598l-6.356-.07v-4.656c0-.917-1.07-1.058-1.928-1.34V18.27c.857-.282%201.928-.565%201.928-1.27v-4.938h6.357v4.162zm0-5.22H7.144V6.207h6.428v4.797zm9.36%2017.212c-5.716%200-8.43-2.963-8.43-6.7v-1.13h6.357v.494c0%201.2.643%202.045%201.857%202.045%201.143%200%201.715-.493%201.715-1.41%200-2.47-9.716-2.046-9.716-9.03%200-3.738%202.43-6.983%208.43-6.983%205.427%200%208.07%202.963%208.07%206.7v1.27h-6.357v-.704c0-.988-.5-1.975-1.714-1.975-.93%200-1.5.493-1.5%201.34%200%202.68%209.786%202.045%209.786%208.958%200%203.74-2.573%207.126-8.5%207.126z%22/%3E%3C/g%3E%3C/svg%3E);
        }
      }

      .top-header__panel {
        width: calc(100% - #{$leftMenuWidth});
      }
    }
  }

}

@media (min-width: $desktopMinScreen) {
  .top-header{
    padding-top: $headerPaddingLarge;
    height: $headerPanelHeight + $headerPaddingLarge;
  }
  .menu-icon {
    position: absolute;
    top: -53px;
    left: -10px;
  }
  .menu-icon.white {
    background-image: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2040%2026%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22%23ffffff%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M1.51%203.343h36.98c.834%200%201.51-.666%201.51-1.486S39.324.37%2038.49.37H1.51C.675.37%200%201.038%200%201.858c0%20.82.676%201.486%201.51%201.486zM1.51%2014.486h36.98c.834%200%201.51-.666%201.51-1.486s-.676-1.486-1.51-1.486H1.51C.675%2011.514%200%2012.18%200%2013s.676%201.486%201.51%201.486zM1.51%2025.63h36.98c.834%200%201.51-.667%201.51-1.487%200-.82-.676-1.486-1.51-1.486H1.51c-.834%200-1.51.666-1.51%201.486s.676%201.486%201.51%201.486z%22/%3E%3C/g%3E%3C/svg%3E);
  }
  .user-menu {
    position: absolute;
    top: -50px;
    right: 0;
    margin: 0;
    height: 50px;
    background-color: rgba(19,37,67,.15);

    .min-dropdown {
      .min-dropdown-btn {
        line-height: 50px;
        height: 50px;

        .user-icon {
          margin-right: 0;
          margin-top: -5px;
          vertical-align: middle;
          background-image: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2040%2040%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M20%202.48c1.042%200%202.09.2%203.145.6%201.054.4%201.992.903%202.812%201.51.82.606%201.49%201.27%202.012%201.994.52.723.78%201.42.78%202.09v6.197c0%201.19-.28%202.732-.84%204.63-.56%201.897-1.517%203.362-2.87%204.395-.34.258-.593.587-.763.988-.17.4-.228.82-.175%201.258.052.44.208.834.468%201.182.26.35.586.614.977.794l10.898%205.112c.026%200%20.202.084.528.252.325.168.488.588.488%201.26v2.4l-34.96.04v-2.52c0-.515.137-.87.41-1.064.274-.193.488-.316.645-.368l10.976-5.15c.392-.18.71-.446.958-.794.248-.35.41-.73.49-1.143.05-.438-.008-.857-.177-1.257-.168-.4-.422-.73-.76-.988-1.303-1.033-2.26-2.49-2.872-4.376-.612-1.886-.918-3.435-.918-4.65V8.676c0-.645.254-1.33.762-2.053.508-.722%201.178-1.394%202.01-2.013.835-.62%201.772-1.13%202.814-1.53%201.042-.4%202.096-.6%203.164-.6zM20%200c-1.38%200-2.747.258-4.102.775-1.354.516-2.558%201.187-3.613%202.013-1.055.827-1.907%201.756-2.558%202.79-.65%201.032-.977%202.064-.977%203.097v6.196c0%20.673.078%201.492.234%202.46.157.97.424%201.963.8%202.983.38%201.02.867%202.02%201.466%203%20.6.982%201.34%201.82%202.227%202.518L2.5%2030.983l-1.25.717C.417%2032.175%200%2032.75%200%2033.42v3.757c0%20.67.24%201.244.723%201.722.48.478%201.074.717%201.777.717h35c.677%200%201.257-.24%201.738-.718.482-.478.723-1.052.723-1.723V33.42c0-.723-.41-1.31-1.23-1.762l-1.23-.678-10.898-5.15c.86-.672%201.588-1.48%202.187-2.42.598-.943%201.08-1.925%201.444-2.944.365-1.02.625-2.02.782-3.002.156-.98.234-1.846.234-2.595V8.676c0-1.033-.332-2.065-.996-3.098-.664-1.033-1.524-1.962-2.578-2.79-1.055-.825-2.253-1.496-3.594-2.012C22.742.258%2021.38%200%2020%200z%22%20fill%3D%22%23ffffff%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E);
        }
      }
    }



    .help-icon {
      margin: 15px !important;
      background-image: url(data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%2040%2040%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M20%200c-2.76%200-5.358.52-7.793%201.563C9.772%202.603%207.65%204.03%205.84%205.84c-1.81%201.81-3.236%203.932-4.277%206.367C.52%2014.642%200%2017.24%200%2020s.52%205.358%201.563%207.793c1.04%202.435%202.467%204.557%204.277%206.367%201.81%201.81%203.932%203.236%206.367%204.278C14.642%2039.477%2017.24%2040%2020%2040s5.358-.52%207.793-1.563c2.435-1.04%204.557-2.467%206.367-4.277%201.81-1.81%203.236-3.932%204.278-6.367C39.477%2025.358%2040%2022.76%2040%2020s-.52-5.358-1.563-7.793C37.398%209.772%2035.97%207.65%2034.16%205.84c-1.81-1.81-3.932-3.236-6.367-4.277C25.358.52%2022.76%200%2020%200zm0%2037.54c-2.422%200-4.694-.463-6.816-1.388-2.123-.924-3.972-2.18-5.547-3.77-1.576-1.588-2.826-3.443-3.75-5.566C2.962%2024.694%202.5%2022.422%202.5%2020c0-2.422.462-4.694%201.387-6.816.924-2.123%202.174-3.972%203.75-5.547%201.575-1.576%203.424-2.826%205.547-3.75C15.306%202.962%2017.578%202.5%2020%202.5c2.422%200%204.694.462%206.816%201.387%202.123.924%203.972%202.174%205.547%203.75%201.576%201.575%202.826%203.424%203.75%205.547.925%202.122%201.387%204.394%201.387%206.816%200%202.422-.462%204.694-1.387%206.816-.924%202.123-2.174%203.978-3.75%205.567-1.575%201.588-3.424%202.845-5.547%203.77-2.122.924-4.394%201.386-6.816%201.386zm-1.836-6.29h3.125v-3.164h-3.126v3.164zm1.797-22.5c-.91%200-1.744.117-2.5.352-.754.234-1.43.6-2.03%201.093-.6.495-1.042%201.185-1.328%202.07-.287.886-.417%201.732-.39%202.54l.038.117h2.89c0-.495.08-1.042.235-1.64.156-.6.404-1.016.742-1.25.313-.26.664-.456%201.055-.587.39-.13.82-.195%201.29-.195.546%200%201.02.078%201.425.234.403.157.748.378%201.035.664.286.287.5.638.644%201.055.144.417.215.886.215%201.406%200%20.468-.05.89-.155%201.27-.104.377-.26.735-.47%201.073-.207.313-.494.697-.858%201.152-.365.456-.794.984-1.29%201.582-.52.47-.943.892-1.27%201.27-.324.378-.54.71-.643.996-.13.287-.228.684-.293%201.192-.064.507-.097%201.126-.097%201.855h3.008c0-.443.014-.84.04-1.19.026-.353.065-.633.117-.84.052-.21.163-.437.332-.685.168-.247.396-.514.683-.8.573-.574%201.1-1.14%201.582-1.7s.905-1.1%201.27-1.62c.338-.548.598-1.12.78-1.72.183-.6.274-1.237.274-1.914%200-.91-.138-1.724-.41-2.44-.275-.716-.685-1.322-1.232-1.817-.572-.52-1.243-.905-2.01-1.152-.77-.246-1.66-.37-2.677-.37z%22%20fill%3D%22%23ffffff%22%20fill-rule%3D%22evenodd%22/%3E%3C/svg%3E);
    }

    .min-dropdown {
      .min-dropdown__title {
        color: $White;
      }
    }

    .user-dropdown {
      position: relative;
      width: 200px;
      display: block;

      &:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border: 4px inset;
        border-color: #fff transparent transparent;
        border-top-style: solid;
        position: absolute;
        right: 15px;
        top: 24px;
      }
    }

    > li {

      &:last-child {
        border: 0;
      }
    }
  }
}
